<div class="panel panel-success">
<%= image_tag(asset_path("banner1.jpg"), style: 'width: 100%') %>
  <%= form_tag('/calculate', method: :get) do %>
    <div class="form-group">
      <div class="panel-body">
        <div class="col-xs-6 col-md-2 col-md-offset-2 form-group">
          <div class="text-center" for="origin">Origem</div>
          <div class="input-group">
            <div class="input-group-addon">DDD</div>  
            <%= select_tag(:origin, options_for_select(origins,
                                    selected: params[:origin]), 
                                    { class: "form-control input-lg", id: "origin", include_blank: true }) %>
          </div>
        </div>
        
        <div class="col-xs-6 col-md-2 form-group">
          <div class="text-center" for="destination">Destino</div>
          <div class="input-group">
             <div class="input-group-addon">DDD</div>
             <%= select_tag(:destination, options_for_select(destinations(params[:origin]),
                                          selected: params[:destination]),
                                          { class: "form-control input-lg", id: "destination", include_blank: true }) %>
          </div>
        </div>
      
        <div class="col-xs-6 col-md-2 form-group">
          <div class="text-center" for="timeSpent">Tempo gasto</div>
          <div class="input-group">
            <%= number_field_tag('time_spent', params[:time_spent], min: 0, class: "form-control input-lg text-center") %>
          </div>
        </div>    
      
        <div class="col-xs-4 col-md-2 form-group">
          <div class="text-center invisible" for="calcular">Calcular</div>
            <div class="input-group">
              <%= submit_tag("calcular", class: "btn-success btn-lg") %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

<% if @calculate_charge.present? %>
  <div class="without_fale_mais col-xs-12 col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">Sem Fale Mais</div>
      <div class="panel-body">
        <p><%= number_to_currency(@charge_without_plan) %></p>
        Veja mais detalhes!
      </div>
    </div>
  </div>
  <% @plans.each_with_index do |plan, i| %>
      <%= content_tag :div, plan, class: "col-xs-12 col-md-3 text-center plans #{to_snake_case(plan.name)}" do %>
        <div class="panel panel-success">
          <div class="panel-heading"><%= plan.name %></div>
          <div class="panel-body">
            <p><%= number_to_currency(@calculate_charge[i]) %></p>
            <p><%= link_to 'Veja mais detalhes!', plan_path(plan, request_params) %>
          </div>
        </div> 
      <% end %>
  <% end %>
<% end %>


<script>
  $(document).ready(function() {
    $('#origin').change(function() {
      $("#destination option").remove();
      $.ajax({
        url: "<%= update_destination_path %>",
        data: { origin: $('#origin').val() },
        dataType: "html"
      }).success(function(data) {
        $("#destination").append(data);
      });
    });
  });
</script>
