<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'Telzir', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
