
<div class="container-fluid">
  <div class="col-xs-12 col-md-12 text-center">
    <div class="panel panel-success">
      <div class="panel-heading"><h2><%= @plan.name %></h2></div>
        <div class="panel-body text-info">
          <h4>
            <p><%= @plan.description %></p>
            <p>Confira abaixo a comparação!</p>
          </h4>
          <div id="container" style="width:100%; height:400px;"></div>
          <%= link_to 'Voltar', request.referer %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    var ChargeWithoutPlan = <%= @charge_without_plan %>
    var ChargeWithPlan = <%= @charge_with_plan %>
    if (ChargeWithoutPlan > ChargeWithPlan ) {
      maxval = ChargeWithoutPlan
    } else { 
      maxval = ChargeWithPlan 
    }
    $('#container').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: ['']
      },
      yAxis: {
        min: 0,
        max: maxval ,
        title: { text: 'Preço ( R$ )' },
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' + "Preço: R$" + Highcharts.numberFormat(this.y, 2);
        }
      },
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      series: [
        {
          name: 'Sem Fale Mais',
          data: [ChargeWithoutPlan],
        },
        {
          name: 'Com Fale Mais',
          data: [ChargeWithPlan]
        }
      ]
    });
  });
</script>