<!DOCTYPE html>
<html>
<head>
  <title>Telzir</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/navbar' %>
  </header>
  <main>
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-danger text-center" role="alert">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  </main>
  <footer>
  </footer>
</body>
</html>
